.home{
    height: 86vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins !important;
}

.home .describe{
    font-size:1.2rem;
}

.home .row .col:nth-child(1) .get-started-btn{
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
}

.ml-1{
    margin-left: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.pdf-icon{
    font-size: 21rem;
}


@media only screen and (max-width: 616px){
    .pdfIcon{
        display:none;
    }
}